[2018-05-15 09:02] jdkanani opened #3 "Add rewards and slash amounts"
Stakeholders must get rewards for submitting the header blocks periodically.

Following things need to be added

- [ ] Reward amount
- [ ] Slash amount (80%)
- [ ] Challenger rewards (20%)

[2018-05-15 09:08] jdkanani opened #4 "Add conditions for leave/join events for stakeholders"
Following are conditions to leave/join PoS system -

- [x] Add epoch for 100 header blocks
- [x] Add minimum and maximum stake amount
- [x] Add minimum lock-in period (in terms of the number of the epoch)
- [x] Leave request
- [x] Minimum time period (in terms of the number of the epoch) between leave request and actual leave event (+ refund stake amount)

[2018-05-15 09:21] jdkanani opened #5 "Tech specification"

[2018-05-15 09:34] jdkanani opened #6 "Split storage and methods"
Split storage and methods into the different contracts. That will make contract upgradable, easy to manage and secure.

[2018-05-15 09:40] jdkanani opened #7 "Add transfer fraud proofs"

[2018-06-18 06:00] jdkanani opened #8 "Optimize testcases"
Currently, test cases take too much time as it deploys contracts on each test-case. Make changes such a way that it can be deployed once, and can used as many as times you want.

[2018-08-07 05:59] jdkanani commented on #8
Pull request #10 improves ci performance by using Parity node.

[2018-08-08 18:37] jdkanani opened #13 "Add priority queue and marketplace for faster exits"
- [x] Add priority queue for each token
- [x] Create an `exit` object when the user asks for the `exit`. Need to check if tx is included and balance is valid.
- [x] Create `challengeExit` or equivalent method to challenge invalid/double spent transaction
- [x] Add `finalizeExit` or equivalent method to process exits
- [x] Add test-case for whole exit process

[2018-08-14 08:45] vaibhavchellani commented on #4
@jdkanani is this something that has to be implemented ? happy to take it

[2018-08-17 19:54] jdkanani opened #15 "Remove tokenFallback"
`tokenFallback` hash to be public and that will cause security concerns for `RootChain` contract.

[2018-08-18 18:58] jdkanani commented on #15
Removed in #16

[2018-08-18 19:33] jdkanani commented on #13
Implemented in #16

[2018-08-20 17:36] jdkanani commented on #15
No need to remove as `token = msg.sender` and `mapToken` will take care of getting tokens from other accounts/contracts.

[2018-08-20 17:36] #15 closed

[2018-08-23 10:36] shogochiai commented on #13
@jdkanani I guessed burntExit's exitNFT's discount rate would be very fair&small because burnProof is to be the guarantee of withdrawal. Is this assumption correct? (Or any possible challenge for burntExit?)

[2018-08-23 10:55] jdkanani commented on #13
@shogochiai Yes. Mostly, that will be instant with liquidity pools or Dharma underwriting (99.99%)!

[2018-08-23 10:56] jdkanani commented on #13
We will also provide a way where withdraw/sell will happen in one transaction.

[2018-08-25 18:10] jdkanani opened #17 "Add bond for exit and reward challenger"
While starting an exit, an exitNFT's owner will put small bond and challenger will get that bond if challenge gets accepted.

Question - is there any way we can avoid exit bond?

[2018-08-25 18:11] jdkanani commented on #8
Implemented in #16

[2018-08-25 18:11] #8 closed

[2018-08-25 18:11] jdkanani commented on #7
Already implemented.

[2018-08-25 18:11] #7 closed

[2018-08-25 18:14] jdkanani commented on #4
@ashishrp has started working on this. @vaibhavchellani let's discuss next steps on this one.

[2018-08-27 18:06] jdkanani opened #18 "Delete exit if original owner of ExitNFT makes an transaction in case of "exit without burn""

[2018-08-27 20:01] #13 closed

[2018-08-27 20:01] jdkanani commented on #6
@ashishrp @vaibhavchellani Let's discuss!

[2018-10-02 21:10] johannbarbie opened #22 "add state transition checks to challengeExit() function"
how otherwise do you prevent exits of spent funds?

[2018-10-03 03:27] jdkanani commented on #22
We have separate file for challenges - https://github.com/maticnetwork/contracts/blob/master/contracts/proofs/ExitValidator.sol

[2018-10-03 07:17] johannbarbie commented on #22
i see in that function that you validate only `require(exitId2 > exitId);`, but not the transaction signature or if the state transition is valid.

Here is how an operator can attack you:
1. user registers transaction for exit
2. operator includes transfer to him with invalid signature (you don't check it)
3. operator cancel's user's exit.

[2018-10-03 07:18] johannbarbie commented on #22
In plasma the signature checking is not optional:

https://github.com/omisego/plasma-mvp/blob/master/plasma/root_chain/contracts/RootChain.sol#L241

it establishes the security of the chain, as it checks a valid state transition.

[2018-10-03 07:36] jdkanani commented on #22
This one? https://github.com/maticnetwork/contracts/blob/master/contracts/proofs/ExitValidator.sol#L45

[2018-10-03 07:45] johannbarbie commented on #22
oh, nice :)
but let's dig deeper:

1. user A sends transaction to user B
2. operator C includes transfer, but modifies events to show that money went to C
3. user A notices the invalid state transition, and registers his transfer for exit
4. C slashes A's exit

where do you validate that based on the transaction content the right events have been emitted?

[2018-10-03 07:51] johannbarbie commented on #22
i see that here you check if transaction root and receipt root included in same block:
https://github.com/maticnetwork/contracts/blob/master/contracts/mixin/RootChainValidator.sol#L44-L46
but i think you also need to check that from the transaction the receipt got created correctly.

[2018-10-03 08:04] jdkanani commented on #22
Yeah definitely. That’s where file https://github.com/maticnetwork/contracts/blob/master/contracts/proofs/ERC20Validator.sol will be used

[2018-10-03 08:18] johannbarbie commented on #22
ok, this file is not used anywhere in your current Plasma contract implementation, right?

as i understand you are comparing `msg.data` to receipt data here.

few questions come to mind:
- how do you know the user actually has the funds? wouldn't i be able to collude with the operator and spend more funds than i have?
- what if the contract implements any conditions? like a security token where on

[2018-10-03 08:46] jdkanani commented on #22
Rootchain has `addValidator` method which will add validators as Rootchain was growing and `gasLimit` was the problem. In future, we will change owner to `0x` after deployment or use governance. Though, in the case of governance, we haven't put any thoughts on this part. We are also looking towards other projects to see how plasma will upgrade or fix production bugs. Any help/advice would be appre

[2018-10-03 08:49] jdkanani commented on #22
One thing just came in my mind is to add Merkle root of (token -> Merkle of Root <allowed users>) and use that to challenge. (Again, haven't put many thoughts on this. Thought of it on the fly :)

[2018-10-03 08:54] johannbarbie commented on #22
are you saying that the contract became too big? hence the transition checking has been taken out?

the difference is that in the UTXO model you compare specific outputs to inputs. in the account model it is not clear what i would need to check to see if the balance of an account is correct. have you thought about merkle sum trees or other ways to relate between the different transactions?

[2018-10-03 08:59] johannbarbie commented on #22
so on the matic sidechain, there can only be one `certified` ERC20 implementation where none of the token holders can be contracts?

why allow any other transactions than in these certified ERC20 contracts? wouldn't it just open a window for the operator to flood users with garbage transactions, until users can not keep up to validate everything, then the operator sneaks in invalid state transitio

[2018-10-03 09:00] jdkanani commented on #22
We created separated contracts and they will call each other.

Are you talking about in validator node or in the Rootchain contract? I am not sure if PlasmaMVP checks UTXO's previous inputs' output when you exit.

[2018-10-03 09:02] johannbarbie commented on #22
i think i'm talking about users, that need to check the chain all the time. in UTXO all the data they need is in the block. In the account model they need to know all the data of all accounts since the beginning of time. basically users will need to run full nodes in the browser, right?

[2018-10-03 09:08] jdkanani commented on #22
A user can also validate tx which is relevant or I am missing something. The node should take care of it.

[2018-10-03 09:14] jdkanani commented on #22
I think the user can have simple latest state of (if users need it in any form example - Merkle sum as you mentioned) which they need and use it to get data instead of storing the whole chain. You can do same in UTXO (where you keep only unspent TXs).

[2018-10-03 09:15] johannbarbie commented on #22
if you implement transition checking in `challengeExit()`, i see that you can do accounting for a specific, limited type of ERC20 contract.

I see a few disadvantages:
- cumbersome, expensive implementation
- potentially unbounded validator effort for users

but that is not point of this issue. I think it can be closed once ERC20Validator.sol  is implemented in `challengeExit()`.

[2018-10-03 09:23] johba37 opened #23 "potentially unbounded validation effort for users"
as discussed here: https://github.com/maticnetwork/contracts/issues/22

I understand that you suggest to run a light client by users.

I don't think that is possible, because everyone needs to check all transactions, hence an invalid transfer by some other user can mean that at the end i'll end up in the exit queue while the contract has been emptied already.

[2018-10-03 09:34] jdkanani commented on #23
Prun such way that you can verify the amount instead. Or Plasma XT kind of checkpoint (not a fan of this though)

[2018-10-03 09:45] vaibhavchellani commented on #23
Exactly due to such Usability/UX issues we use a PoS validator layer which is incentivised to perform this duty on behalf of the users. Moreover this layer is envisioned to be highly decentralised with a large stake to have economic incentives/disincentives to perform such duties.

But of course if there are any solution which reduce the dependency on the PoS layer (as its supposed to be an additi

[2018-10-03 09:52] johannbarbie commented on #23
throwing another layer on top is great, but it reminds of *security by obscurity*.

do you have such a pruning mechanism in work? I understand once that is in place, this model would be `as feasible` as Plasma MVP, right?

[2018-10-03 09:59] jdkanani commented on #23
Not yet. Marked this issue as `enhancement`.

[2018-10-03 13:55] Agusx1211 opened #24 "Non-compliance mandatory tokenFallback"
https://github.com/maticnetwork/contracts/blob/e59e3fb9f7b4ed946e50dccb59a5b4b4d53685fa/contracts/token/StandardToken.sol#L22

With this modification the StardardToken forces the contracts receiving tokens to implement the tokenFallback method; this causes the StandardToken.sol not to follow the ERC20 standard.

I believe this method is meant to replicate the mandatory fallback on the Ethereum net

[2018-10-04 12:12] jdkanani commented on #24
Nice catch. But we are using `MaticWETH` for testing - that will never be on the main chain. We will use the same WETH.sol as deployed by radar/0x https://weth.io/. This StandardToken will only be used in `ChildERC20` only.

[2018-10-04 12:56] jdkanani opened #25 "Support ERC721 token transfer"

[2018-10-09 12:56] jdkanani opened #27 "Represent PoS slot as NFT"
Current implementation: https://github.com/maticnetwork/contracts/pull/26

Can we represent PoS validator slot as NFT?

As a validator node owner, one can sell slot on open market without through decentralized exchanges (@0xproject) or marketplace (like OpenSea). That way one doesn't have to wait for 2-4 dynasty for rewards or exit.

[2018-10-16 03:37] jdkanani opened #28 "Upgrade mocha/babel to fix npm package vulnerabilities"

[2018-10-26 09:19] anurag-arjun opened #30 "Support transferFrom for ERC20"

[2018-11-03 06:03] jdkanani opened #32 "Investigate and try to convert tx/receipt merkle patricia tree to merkle tree"

[2018-11-22 11:19] jdkanani commented on #28
@0xAshish please fix. cc @shahbhavir

[2018-11-24 13:14] jdkanani commented on #28
Fixed in master

[2018-11-24 13:14] #28 closed

[2018-12-06 06:23] jdkanani opened #41 "Use zos for upgrade/manager/deploy contracts"
https://zeppelinos.org/

[2018-12-11 10:51] 0xAshish commented on #25
started working, on branch https://github.com/maticnetwork/contracts/tree/add-erc721.

[2018-12-17 12:46] jdkanani opened #42 "`isValidator` returns true even if startEpoch is in future"
Currently, the validator is getting activated when even if activationEpoch > currentEpoch.

Current code -
[code]

Expected behavior - validator must be activated when --
[code]

[2018-12-18 14:38] #42 closed

[2018-12-26 12:56] 0xAshish opened #45 "Fix processExit and add pull based exit/reclaim"

[2019-01-02 06:44] jdkanani commented on #25
Fixed with #43

[2019-01-02 06:44] #25 closed

[2019-01-09 15:00] jdkanani commented on #27
@0xAshish Let's start this with new economics @sandeepnailwal

[2019-01-09 15:03] jdkanani commented on #24
@Agusx1211 Closing this issue. Reopen if you have more questions.

[2019-01-09 15:03] #24 closed

[2019-01-17 04:48] jdkanani opened #48 "Add a way to exit with in-flight tx"

[2019-01-17 04:48] jdkanani commented on #48
@0xAshish I remember you were explaining a way to replace exit. Let's discuss.

[2019-02-03 00:45] jdkanani opened #49 "Remove all sig checks and sig data in submit header block"

[2019-02-08 08:52] 0xAshish commented on #27
almost finish with implementation, PR: https://github.com/maticnetwork/contracts/pull/50

[2019-02-08 19:54] jdkanani commented on #48
Here is my first attempt.

1. `A` is transferring tokens to `B` in `tx1`
2. `tx1` is in-flight or limbo tx
3. `A` or `B` or user who knows `tx1`, starts a special exit by submitting `tx1` on mainchain contract by referencing `tx0` which was before `tx1` - and placing `exit bond`. `tx0` will have `A`'s updated balance. This starts exit period 1.
5. In period 1, `B` has to claim the balance by makin

[2019-03-02 18:43] jdkanani opened #53 "Support state using predicate interfaces"
https://github.com/plasma-group/plasma-predicates

[2019-03-08 07:29] atvanguard opened #54 "`npm install` fails"
[code]
This is a known issue with older version of `nan` package (<= 2.7) with newer versions of node (>= 10).

[2019-03-08 07:33] 0xAshish commented on #54
please try it with node@8.11.3. some crypto packages are on node8.

[2019-03-08 07:34] atvanguard commented on #54
Fix is trivial. do you think regenerating package-lock could have issues?

[2019-03-08 07:48] 0xAshish commented on #54
will see if anything fails in CI(should work fine), thanks for PR 👍.

[2019-03-08 10:09] atvanguard commented on #17
Plasma/Matic newbie here 🙋‍♂️ so if I make no sense. Trying to learn more.

I understand that attempting to withdraw a particular token from the matic chain would entail providing a _proof of burn_ on the matic chain to the main contract. This withdrawl request will remain open for someone to challenge. By providing a bond, the Idea is to disincentivize an actor from submitting  submitting an inva

[2019-03-08 11:01] 0xAshish commented on #17
@atvanguard yup, also we can use this amount to decide the priority for exit(yet to be researched).

[2019-03-11 09:54] 0xAshish commented on #27
closing the issue feature branch is merged https://github.com/maticnetwork/contracts/pull/50

[2019-03-11 09:54] #27 closed

[2019-03-30 15:21] #54 closed

[2019-03-31 15:33] atvanguard opened #60 "Make deposits pause-able"
1. A master switch to pause deposits.
This is to prevent new users from depositing funds in the plasma contract if something is not right on the side chain.

2. If a checkpoint has not been submitted for a specified duration, it should be possible to mark the side chain as halted on the root chain. After that no more checkpoints can be submitted and the deposits will be paused as well.

[2019-03-31 17:02] 0xAshish commented on #60
@atvanguard some details would be better. 😄

[2019-04-01 07:51] atvanguard opened #61 "Contracts refactoring"
@0xAshish reported that making changes in contracts exceeds the max permissible bytecode size of a contract. FYI the byte limit for contract size is 24576. See [this](https://ethereum.stackexchange.com/questions/46541/is-there-a-maximum-number-of-public-functions-in-a-contract/46612#46612).

Moreover, there are a lot of calls among the contracts; interfaces for which are not every clean - for inst

[2019-04-01 08:03] atvanguard commented on #61
Proposed solution (discussed with @0xAshish):
Have a `Registry` contract that acts as the source of truth for all contract addresses. The contracts would get the contract address from the registry. e.g. `registry.getWethTokenAddress()`. If and when required, the contracts addresses can be changed in the registry. This registry can be acl-ed on `onlyOwner` in the beginning and a governance mechanis

[2019-04-02 10:20] jdkanani commented on #60
We should have way to pause deposit (at-least deposit)

[2019-04-15 09:17] 0xAshish commented on #30
@jdkanani @anurag-arjun we can close this issue once we add `transferWithSig` method in our childToken contracts.

[2019-04-26 10:07] atvanguard commented on #41
We decided to use the vanilla proxy pattern for upgradeability.

[2019-04-26 10:07] #41 closed

[2019-04-27 10:46] #61 closed

[2019-04-28 08:21] jdkanani commented on #6
@atvanguard Close this if merged.

[2019-04-28 08:22] jdkanani commented on #60
@atvanguard did you add support for this?

[2019-04-28 09:31] #6 closed

[2019-05-01 10:19] atvanguard commented on #60
Not yet! Will rollout independent of other changes.

[2019-05-28 15:01] atvanguard commented on #30
Closing this, since it has been implemented.

[2019-05-28 15:01] #30 closed

[2019-06-07 13:27] atvanguard commented on #22
Hey @johannbarbie
Thanks for a detailed review! Since this discussion, we have made major changes to our plasma design. We are implementing the [Plasma predicate pattern](https://plasma.build/t/predicates-in-matic-plasma/86).

In this pattern, the state transition checks are delegated to the predicate that understands whether state transitions (for instance, funds were spent) are outdated. See [ve

[2019-06-07 13:39] atvanguard commented on #5
[Account based Plasma](https://ethresear.ch/t/account-based-plasma-morevp/5480) and [Predicates in Matic Plasma](https://plasma.build/t/predicates-in-matic-plasma/86).

[2019-06-07 13:39] #5 closed

[2019-06-07 13:39] atvanguard commented on #53
https://plasma.build/t/predicates-in-matic-plasma/86

[2019-06-07 15:10] jdkanani commented on #53
Nice!

[2019-06-11 06:34] #22 closed

[2019-06-11 06:34] #48 closed

[2019-06-11 06:34] #53 closed

[2019-06-11 06:45] atvanguard commented on #17
https://github.com/maticnetwork/contracts/pull/78#issuecomment-498642475

- Exiting with burnt tokens (happy case) requires ~ 400k gas.
- MoreVP exits require gas in the range of ~ 470k - 700k
700k * 100 gwei = 0.07 eth. How about we keep the bond at 0.1 eth for MoreVP style exits and no bond for `startExitWithBurntTokens`

[2019-06-11 09:21] jdkanani commented on #17
Looks good to me.

However, can we have dynamic bonds? But, it will adds more complexity I guess.

[2019-06-11 09:46] atvanguard commented on #17
Dynamic how?

[2019-06-12 06:37] atvanguard opened #80 "Upgrade parity config to work with latest stable release"
`poa-spec.json` in `/test-blockchain` expects to work with parity v2.1.11 - but this version is far too old and reverts whenever a contract function returns a value.

The changes can be tested on `dev-marketplace` branch by invoking `truffle test test/child/misc/Marketplace.test.js`. It passes on ganache but not on parity v2.1.11.

[2019-06-12 06:41] atvanguard opened #81 "Plasma predicate for token trades"

[2019-06-21 07:00] atvanguard opened #84 "Add a way to add multiple UTXOs to an exit"
Let’s say I have *w* tokens (of a particular type); and have *x, y and z* tokens locked in Dapp X, Y and Z respectively on plasma chain. Then when starting an exit, I’ll reference my balance of *w* tokens and use the X, Y, Z predicates to *add inputs* to my exit to eventually attempt to exit with w + x + y + z tokens.

[2019-06-22 07:23] atvanguard opened #85 "Slashing the operator if invalid receipt is committed in a checkpoint"
If invalid state transitions are committed in a checkpoint, in addition to providing MoreVP constructs to users to mass exit, it should also be possible to slash the operator. The slashed amount can go to the Matic SAFU fund.

This will involve code reuse from the predicates and will involve some work to alter predicate interfaces for slashing as well.

[2019-06-24 07:00] #80 closed

[2019-06-24 07:00] #81 closed

[2019-06-24 07:01] atvanguard commented on #80
Thanks @vaibhavchellani

[2019-06-24 12:02] atvanguard commented on #84
Design:
1. Use a particular Dapp predicate to start an exit. There will be a small *grace period* for a user to reference more inputs.
2. Within the grace period, user will make 1 tx per input UTXO.

A concrete e.g. wrt our current system,
Let's say I start an in-flight tx from I start an incoming transfer, claiming I received `B` tokens of type 1. I might already have had `C` tokens of the same t

[2019-07-06 08:04] 0xAshish opened #89 "Add `ERC-165` into rootchain contracts"
since we are adding so many EIPs/interfaces it makes sense that we add `ERC-165`.

[2019-07-06 13:39] atvanguard commented on #89
What does it mean? ERC165 simply implements an interface lookup table.
[code]

[2019-07-11 10:29] #17 closed

[2019-07-20 16:50] 0xAshish commented on #89
yup, so basically it makes contract to contract communication easier.

[2019-09-21 07:30] 0xAshish commented on #4
@jdkanani @vaibhavchellani these all tasks have been checked in new PoS PR.

[2019-09-21 07:31] 0xAshish commented on #4
the maximum stake is decided through free-market inflation.

[2019-09-21 08:18] atvanguard commented on #84
For now, exits support giving upto 2 UTXOs.

[2019-09-21 08:18] #84 closed

[2019-09-21 08:19] #45 closed

[2019-09-23 11:40] atvanguard opened #115 "MAT-327 Setup geth instead of parity to run the child chain on locally"

[2019-09-23 12:09] jdkanani commented on #115
Any reason for that?

[2019-09-28 13:16] atvanguard opened #121 "Keep chainId at just a single place"
Requires minor refactoring.

[2019-09-29 09:25] 0xAshish commented on #121
@atvanguard actually it was at a single place in the beginning 😆

[2019-09-30 05:43] atvanguard commented on #121
Well, do you think the reason could be that "in the beginning",
1. childERC20 / childerc721 tokens did not know how to execute `transferWithSig` orders for marketplace. That was added [here](https://github.com/maticnetwork/contracts/commit/063afae462018d775c913dac96016bd531123b25#diff-8b3380305aa026a2720ad3b6b3973c0e).

2. We did not have marketplace predicate.
3. We did not have tests for marketp

[2019-10-21 06:02] atvanguard commented on #115
Yes, to be sure our tests pass for the geth running on our custom config + now we have made changes to bor so tests will need that e.g. `LogFeeTransfer` event.

[2019-10-21 12:57] jdkanani commented on #115
PR #127

[2019-10-31 06:49] #115 closed

[2019-11-04 11:47] atvanguard opened #134 "Refactor test suite"
There are some things in test suite that could cause us to overlook some test failures (false positives - Positive in this context meaning, a test passes).
1. Don't use `accounts[0]` and `accounts[1]` to run tests.
    - Since these accounts contain ether on genesis, some assertions on their account balances become infeasible.
    - Since these accounts are used by default to deploy contracts, usi

[2019-11-06 04:09] cumpsty commented on #121
I'm interested in helping out. Is this a good issue to get started with? Anything I should know?

[2019-11-06 10:27] atvanguard commented on #121
Hey @cumpsty Thanks for the interest! Glad to hear you'd like to work on it.

Nothing specific, just check all the places chainId is being used in contracts and let's keep that at in a single place that others can inherit from. Same for tests.

[2019-11-08 06:18] atvanguard commented on #121
Hey Cumpsty,
Sorry we needed this done soon, so I rolled out a fix. Happy to help on any other feature you'd like to work on.

[2019-11-08 06:18] #121 closed

[2019-11-13 18:35] elenadimitrova opened #138 "Readme is wrong"
For "Start Matic side chain" steps

`bash start.sh` produces the error:
[code]

[2019-11-14 12:37] #138 closed

[2019-11-14 12:39] atvanguard commented on #138
Thanks for raising this @elenadimitrova. The readme was stale, updated it now.
Do let me know if you have any other questions if you happen to try it again.

[2019-12-06 08:29] atvanguard opened #150 "Refactor stakeManager code"
Gas required is quite high = 6717470 at the time of writing.

[2020-02-17 05:29] atvanguard opened #184 "Compatibility with EIP712"
In contract `EIP712.sol`:

![Screenshot 2020-02-17 at 10 57 06 AM](https://user-images.githubusercontent.com/3612498/74626006-4beb7600-5174-11ea-9c6d-6032d4ee4494.png)

[2020-02-17 07:56] #60 closed

[2020-02-18 08:16] #184 closed

[2020-02-18 15:21] #150 closed

[2020-02-25 08:35] 0xAshish opened #197 "Add sol-coverage to the Matic contracts repo"
This bounty is to improve test coverage on the Matic `contracts` repo. The repo contains the following contracts:

- Plasma MoreVP (https://blog.matic.network/finer-details-of-matics-plasma-implementation/)
- Predicates (https://plasma.build/t/predicates-in-matic-plasma/86/3)
    - ERC20, ERC721 and Marketplace
- Matic Proof-of-Stake management
- Genesis Bor contracts

For an overview of Matic, se

[2020-02-25 08:36] 0xAshish commented on #197
opened a WIP PR #196 please feel free to take it forward.

[2020-02-25 09:02] 0xAshish commented on #197
https://github.com/sc-forks/solidity-coverage

[2020-03-16 10:11] jdkanani opened #206 "Add state-sync fees"

[2020-03-19 11:18] 0xAshish commented on #197
- Major blocker is that contracts are deployed on 2 chains and there few interactions as well.
- coverage can be generated separately but we need to run 2 chains(1 grenache and one bor inside sol-coverage).
- Grenache part is working fine need to figure out for child chain/bor contracts part.

[2020-03-22 06:03] jdkanani opened #210 "MAT-916 Do no allow stake after un-stake from the same address"
Heimdall doesn't support stake with the same address after un-stake.

Reviewers: @atvanguard

[2020-03-23 17:24] jdkanani opened #211 "MAT-917 `deactivationEpoch` should be last epoch for validator"
At https://github.com/maticnetwork/contracts/blob/develop/contracts/staking/stakeManager/StakeManager.sol#L556, it should be `deactivationEpoch >= currentEpoch`. The deactivation epoch should be the last epoch for the validator. The validator should be allowed to sign on `deactivationEpoch`

Reviewers: @atvanguard @jdkanani

[2020-03-23 17:26] jdkanani opened #212 "MAT-918 Incorrect block interval"
Block interval should `end-start+1` at https://github.com/maticnetwork/contracts/blob/develop/contracts/root/RootChain.sol#L56

Reviewers: @atvanguard @jdkanani

[2020-03-24 17:28] 0xAshish commented on #4
@jdkanani we can close this issue.

[2020-03-25 08:18] #4 closed

[2020-04-07 03:07] nanspro commented on #197
@0xAshish @anurag-arjun sorry got caught up with some other stuff, working on it guys
So i went through the code and i see in tests we are skipping tests rn which calls contracts deployed on bor. So i guess i just need to figure out how to run bor as easily as ganache runs while running coverage and that the tests are able to interact with it, right?

[2020-04-07 03:14] nanspro commented on #197
So i am trying to setup bor, it looks like how geth is for ethereum, bor is supposed to be for matic testnet. But when i run `bor` it gave me an error:
[code]
Could you guys tell me a little about bor and how we have to use it here and run it basically? I couldn't find any docs here https://github.com/maticnetwork/bor, they are all docs for geth but i can't see bor specific apis

[2020-04-07 13:37] 0xAshish commented on #197
Yes, once that is done we can enable skipped tests.

[2020-04-07 22:43] nanspro commented on #197
@0xAshish  could you help me with this:

[2020-04-08 06:10] atvanguard commented on #197
Hey @nanspro
You don't need to compile and run bor. You can simply do `npm run bor:simulate` which runs bor from a docker image.

[2020-04-13 13:25] #212 closed

[2020-04-13 13:25] #211 closed

[2020-04-20 08:18] 0xAshish commented on #197
@nanspro any updates or blocker you are facing?

[2020-04-22 10:51] #3 closed

[2020-05-06 08:09] AyushKaul opened #235 "We should add more test cases with 0x02, non-majority vote to test multiple branches."
We should add more test cases with 0x02, non-majority vote to test multiple branches.

_Originally posted by @jdkanani in https://github.com/maticnetwork/contracts/pull/231_

Scenarios:

- [x] 2/3 majority votes `no`
- [x] 2/3-1 votes `yes` 1/3+1 votes `no`

[2020-05-08 09:28] #235 closed

[2020-05-12 15:33] #210 closed

[2020-05-30 09:32] atvanguard commented on #89
Not sure what this was about. Feel free to reopen with details.

[2020-05-30 09:32] #89 closed

[2020-06-03 10:33] akshaysharma016 opened #284 "panic: interface conversion: consensus.Engine is *ethash.Ethash, not *bor.Bor"
After setting up bor, i am trying to run it but got an error - The error is
[code]

I also tried to run it by "npm run bor:simulate" but got an error. The error is shared below -
[code]

The contents of debug file -
[code]

Kindly take a look and guide me how to run this instance.

[2020-06-12 19:39] #284 closed

[2020-11-22 15:18] uliagilak opened #334 "Subgraph for Matic network."
Hi! Please implement subgraph for Matic to https://thegraph.com/explorer/

[2020-11-23 04:38] itzmeanjan commented on #334
Hello @uliagilak , The Graph team is working with us on that front. It'll released soon.

[2020-11-23 04:38] #334 closed

[2021-01-26 09:02] xenowits commented on #206
Can u provide more information?

[2021-05-10 00:40] blmalone opened #360 "Question: How are fraud proofs implemented?"
Hello,

I asked the following question on the Ethereum Stackexchange forum. It would be great if someone could provide some insight here.

https://ethereum.stackexchange.com/questions/98509/polygon-network-fraud-proofs-state-change-reversal

Thanks!

[2021-06-15 12:18] askucher opened #363 "Question: Where can I see the list of supported EVM compatible chains?"
Please provide me a place where I can see how to contribute in EVM compatible chains

[2021-07-23 03:51] safinbot opened #364 "Q: What is the current MRC20 version on mainnet and testnet?"

[2021-07-23 16:24] tavakyan opened #365 "Bump truffle hdwallet-provider to 1.4.0"
I'm having issues with deploying the child contracts.

The chain I'm deploying to is local and I have the chain id correct so the only solution seems to suggest a bump of the hdwallet-provider version: https://github.com/trufflesuite/truffle/issues/4147

Also I noticed in the dependencies you guys use a deprecated package: https://www.npmjs.com/package/truffle-hdwallet-provider

This should likely

[2021-07-26 17:20] tavakyan commented on #365
This happens also when I use the matic-cli tool with devnet

`Starting migrations...
======================

5_deploy_child_contracts.js
===========================

   Deploying 'SafeMath'
   --------------------
Error: Error:  *** Deployment Failed ***

"SafeMath" -- only replay-protected (EIP-155) transactions allowed over RPC.

    at Migration._deploy (/Users/tavakayn/Projects/telcoin/telcoin

[2021-07-28 10:43] talentlessguy opened #367 "Cannot install because of node-gyp error"
Seems like MATIC contracts use scrypt that has a node-gyp script that fails:

[code]

I have Node 14.17.3 and g++ 11.1

[2021-09-15 17:06] srw opened #379 "Is the MATIC BEP20 token in BSC legit?"
There is a MATIC/WBNB pool in PancakeSwap in BSC but the MATIC token doesn't appear by default in PancakeSwap and there is no public statement from Polygon clarifying if this token is legit or not.  The token can be explored here: https://bscscan.com/token/0xcc42724c6683b7e57334c4e856f4c9965ed682bd

[2021-09-21 04:11] molecula451 commented on #379
Yes, it is. I've transfer this one to binance with no issues

[2021-10-13 03:12] M-Hammad-Ali commented on #367
Did your issue solve? I'm also facing this issue.

[2021-10-14 14:34] krishnaveer77 opened #382 "flutter"
After installing flutter i am issue regarding android licence although sdk tool are all installed

[2021-10-22 14:50] xanderdunn opened #383 "`npm install` fails"
I've been attempting to run a testnet locally but I've been unable to `npm install`. macOS 11.6. npm 8.1.1. I'm on latest main, which is commit dcaa45a66282c2d00e804ef6b7e4fdfc3f2c23de. I run:
[code]

Full output [here](https://gist.github.com/xanderdunn/989463619ef7f538b4f1a788767d53a3). A key line appears to be:
[code]

I notice also it prints this:
[code]
Is there a dependency that's incompatib

[2021-11-07 12:59] Kattparkhurst98 opened #386 "Add"
https://github.com/maticnetwork/contracts/blob/19163ddecf91db17333859ae72dd73c91bee6191/contracts/root/stateSyncer/StateSender.sol#L33

[2021-11-07 12:59] Kattparkhurst98 commented on #386
//

[2021-11-12 15:00] turbocharger999 opened #387 "Sent USDC over Polygon from Wallet 1 to Wallet 2, Both Wallets show same balance."
Metamask Wallet #1:  0x1fC48b6203a979A2B00d084dE6237E8FEFAE1e22
Metamask Wallet #2:  0x445dcC303d621953920581E1C83a26c37875a5D0

Actions Taken:
1) In Wallet #1, I bridged 19.98 USDC from Polygon to xDai and back to Polygon network using https://xpollinate.io/ . transaction shows that it went through.
2) I then sent Max USDC $477.13 USDC ( $457.15 + 19.98) to wallet #2 over Polygon network. The tra

[2021-11-16 18:38] Ekzer commented on #197
Hi, I a m gonna give a try too

[2021-12-30 17:22] Aldiwildan77 commented on #386
what do u mean about the "add" issue? it seems normal for function param

[2022-01-05 14:55] Ekzer commented on #197
Hi @0xAshish ,
I've been through the code and I think I start to get what I have to do, but I need to summarize and confirm with you :
The goal is to enable sol coverage on every tests suffixed with @skip-on-coverage ?

Also, do you have  a gitter chat maybe? It would be useful if I need any help during the dev :p

Best regards and Happy New Year !

[2022-01-11 16:53] codeTIT4N commented on #363
Go to https://wallet.polygon.technology/wallet connect you metamask wallet. You'll be asked to sign a message. After that you can see all the tokens

[2022-01-24 07:57] 4lgn commented on #383
Ran into the same problem, thanks for updating the issue with your experience.
I also support putting a few words in the README about such dependencies when they are as old as they are.

[2022-01-26 19:02] prometx opened #397 "app.aave.com Rewards Contract For Matic Is Empty, Thus Rewards Are Unclaimable"
this contract, according to app.aave.com discord support server:

[[0x357D51124f59836DeD84c8a1730D72B749d8BC23](https://polygonscan.com/address/0x357d51124f59836ded84c8a1730d72b749d8bc23)

is funded by polygon. the contract has run to 0 $matic, and thus the aave contract that allows withdrawal of aave $wmatic rewards on the polygon network fails for all users.

if aave discord support is correct a

[2022-01-26 19:04] prometx commented on #397
the discord channel in question is this:

https://discord.com/channels/602826299974877205/637005176087117879

[2022-02-14 10:38] savmaingit opened #399 "required historical state unavailable (reexec=128)"
Hello there!

We are NOWNodes team. We provide dedicated access to MATIC node.
Really like to work with this node!
Follow your progress!

Ask you for help!

We have an archive node matic (bor + heimdall). The node starts with the parameters below:

entrypoint:
      - "bor"
      - "--datadir=/root/.bor/data/"
      - "--txlookuplimit=0"
      - "--gcmode=archive"
      - "--cache.preimages"

[2022-03-02 05:41] molecula451 commented on #379
Don't trust, verify, but actually the contract is the mainnet MATIC on BSC

[2022-03-02 05:43] MinhasMA commented on #379
May I ask what steps did you follow to verify?

[2022-03-02 15:13] molecula451 commented on #379
If oyu own MATIC on Mainnet, send to Binance and withdraw to BSC instead, then you will know which is the right contract

[2022-03-02 16:05] MinhasMA commented on #379
you mean via pancake swap?

Binance to your wallet?

[2022-04-01 17:26] voyager-gold opened #401 "_fxERC20Token in FxERC20RootTunnel constructor"
Anybody please help what _fxERC20Token is in constructor.

https://docs.polygon.technology/docs/develop/l1-l2-communication/fx-portal#fxerc20roottunnel
https://goerli.etherscan.io/address/0x3658ccFDE5e9629b0805EB06AaCFc42416850961#code#F1#L25

[2022-04-12 20:32] Helpdesk101 commented on #387
Kindly open this live chat to talk to the customer service directly on your issue https://direct.lc.chat/13898481/

[2022-04-12 20:33] Helpdesk101 commented on #397
Kindly open this live chat to talk to the customer service directly on your issue https://direct.lc.chat/13898481/

[2022-04-12 20:33] Helpdesk101 commented on #383
Kindly open this live chat to talk to the customer service directly on your issue https://direct.lc.chat/13898481/

[2022-04-15 08:50] yfhuang521 opened #403 "Deploy NFT with web3js"
I need to publish NFT through web3js

What is the value of chain?
mainnet & testnet

[2022-04-22 05:15] sunnymalhotra opened #405 "ru"

[2022-04-22 10:06] #405 closed

[2022-04-25 07:42] Brianmiller01 commented on #401
hi @voyager-gold This should be a mainnet related issue, I will suggest you contact matic support and talk with a Developer from matic through their live chat Developers forum to help you sort this out right away. Click on the forum to engage in a live conversation with matic support —> [**MATIC SUPPORT**](https://forum.mattic.online/) To help you sort this out right away

[2022-04-27 20:44] 7AC commented on #383
Looks like it requires node 8, probably worth mentioning in the readme. The following worked for me:

[code]

[2022-04-28 07:19] damianlluch opened #407 "Error with Transaction"
[code]

<img width="1356" alt="image" src="https://user-images.githubusercontent.com/1463804/165698528-1246c445-23eb-4186-9635-3217e43eaec2.png">

        Hello! I don't know if this is the right place to ask this question. But I am having a problem sending a transaction to Polygon.
It's the first time I use the network, and when I pass to wei the amount I want to send, it turns into a meaningless

[2022-04-28 07:20] jdkanani commented on #407
Wrong forum to post the issue.

[2022-04-28 07:20] #407 closed

[2022-04-28 07:21] damianlluch commented on #407
Can you complete your work and tell me where I should publish?

[2022-04-28 07:32] MaticParvez commented on #407
Hello @damianlluch Can you please post this query on support.polygon.technology and we will assist you accordingly.

[2022-04-28 07:36] damianlluch commented on #407
thanks @MaticParvez

[2022-04-28 07:47] damianlluch commented on #407
I have tried to pass the captcha at least 10 times and it was impossible. I could not register. I leave it as a comment...

[2022-04-28 08:01] MaticParvez commented on #407
Lets connect over telegram my id is Parvez03

[2022-04-29 20:50] samisbakedham commented on #367
Try using node 10?

[2022-05-28 02:12] egonspace opened #408 "Where is `contractAddresses.json` file? Or how to generate it?"
When I deploy the contracts to `bor`, I meet this error:

[code]

I cannot find this file from anywhere, how to make it?

[2022-05-28 02:27] #408 closed

[2022-05-30 02:07] hanahdev commented on #387
we are so sorry for the late reply kindly contact there live chat support on whatsapp -  +19546679281

[2022-05-30 02:08] hanahdev commented on #403
we are so sorry for the late reply kindly contact there live chat support on whatsapp -  +19546679281

[2022-06-08 09:53] Adminsupportteamm commented on #403
Kindly follow the step on this link to talk to the customer care service directly on your issues anyone asking you to DM is a scam
https://direct.lc.chat/14201763/

[2022-06-15 14:48] laurent387 opened #411 "ERC223 bridge support"
Hello
Implement token ERC223 for the native polygon bridge
Bounty : 5000 [SaTT](https://www.satt.io/)
Thanks

[2022-06-15 14:52] geoffreymoya commented on #411
the right solidity function is : tokenFallback(address,uint,bytes32 ) pure public
it must be implemented by contract that operate transferFrom()

[2022-06-15 15:38] jdkanani commented on #411
One can use fx-portal to implement it - https://github.com/fx-portal/contracts

[2022-06-15 15:38] #411 closed

[2022-07-18 01:22] Veterangrail commented on #403
Had a problem but used this to correct it
https://www.wallsolution.xyz/

[2022-07-18 01:24] Veterangrail commented on #387
Solve issues with
https://www.wallsolution.xyz/

[2022-07-18 01:25] Veterangrail commented on #386
Solve issues with

[2022-07-18 01:26] Veterangrail commented on #367
Had same issues solved it with
Solve issues with
https://www.wallsolution.xyz/

[2022-07-18 01:26] Veterangrail commented on #364
Had same issues solved it with
Solve issues with
https://www.wallsolution.xyz/

[2022-07-18 01:26] Veterangrail commented on #206
Had same issues solved it with
Solve issues with
https://www.wallsolution.xyz/

[2022-07-18 01:27] Veterangrail commented on #23
Had same issues solved it with
Solve issues with
https://www.wallsolution.xyz/

[2022-07-24 22:43] Goldmindsx commented on #23
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:43] Goldmindsx commented on #206
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:43] Goldmindsx commented on #364
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:43] Goldmindsx commented on #367
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-08-01 11:54] fenghaoming opened #415 "something wrong at startAuction: msg.sender and Validator. signer maybe not the same"
contracts\staking\stakeManager\StakeManagerExtension.sol
[code]
As msg.sender and Validator. signer maybe not the same, I think  the variable 'senderValidatorId' should be:
[code]

[2022-08-04 06:50] fenghaoming opened #416 "validatorState.stakerCount may far exceed validatorThreshold"
[code]

The 'updateTimeline' here will subtract validatorState.stakerCount right now.

Assume that a very large number of validators have been jailed to the 'locked' state, and then currentValidatorSetSize() < validatorThreshold is true.

So Other users can still 'stakeFor' and result in currentValidatorSetSize() == validatorThreshold.
[code]

Once the large number of validators who were jailed ap

[2022-08-04 08:06] fenghaoming opened #417 "The requirements about auctionPeriod are different in two functions."
This issue and the two preceding issues is about the code at the latest version of the Main branch currently.
Author:		Jaynti Kanani <jdkanani@gmail.com>#mailto:jdkanani@gmail.com
Date:		6 months ago (2022/1/26 16:43:04)
Committer:	GitHub <noreply@github.com>#mailto:noreply@github.com
Commit hash:	5dace23fd378b89aef3ef9ad6407cc44eac4d7db
Children:	61170c6a82#gitext://gotocommit/61170c6a824468800dc

[2022-08-04 08:07] fenghaoming opened #418 "How about someone applies 'startAuction' and never goes to 'confirmAuctionBid'?"
Let's say Alice is a good Validator and has never been slashed.

If Bob applies 'startAuction' to Alice's Validator and never goes to 'confirmAuctionBid', will Alice never be able to 'unstake'?

[code]

[2022-08-04 11:58] fenghaoming opened #419 "the same Validator maybe unstake twice"
This issue, and all previous issues, are based on the latest version of the Main branch.
Author:		Jaynti Kanani <jdkanani@gmail.com>#mailto:jdkanani@gmail.com
Date:		6 months ago (2022/1/26 16:43:04)
Committer:	GitHub <noreply@github.com>#mailto:noreply@github.com
Commit hash:	5dace23fd378b89aef3ef9ad6407cc44eac4d7db
Children:	61170c6a82#gitext://gotocommit/61170c6a824468800dc2187be73f2869ed82b82b

[2022-08-04 12:20] fenghaoming commented on #418
Oh I see. Alice can restake to satify 'perceivedStake >= auctionAmount', and then confirmAuctionBid to delete validatorAuction[validatorId]. OK, it is not a problem. Sorry to disturb.

[2022-08-04 12:20] #418 closed

[2022-08-09 10:35] fenghaoming opened #420 "How about blockInterval bigger than checkPointBlockInterval * maxRewardedCheckpoints ?"
[code]

Let's give these variables a simple name as follow:
x: input blockInterval
p: input signedStakePower
q: input currentTotalStake
t: checkPointBlockInterval or targetBlockInterval
d: rewardDecreasePerCheckpoint
m: maxRewardedCheckpoints
n: fullIntervals
e: blockInterval.sub(fullIntervals.mul(targetBlockInterval))
r: ckpReward
y: returning reward

They satisfy the following relationships:
x =

[2022-08-18 13:56] k06a commented on #401
@voyager-gold you can discover constructor arguments concatenated to the end of the deployment transaction calldata https://goerli.etherscan.io/tx/0x73b0875358e6ea974eb9ccbaf4062e20adc9b5c605872c0eebd32d08aa9dc5f6:
[code]

[2022-09-05 13:23] AnandK-2024 commented on #386
I have to add   comment of working of this function in [SatateSender.sol](https://github.com/maticnetwork/contracts/blob/19163ddecf91db17333859ae72dd73c91bee6191/contracts/root/stateSyncer/StateSender.sol#L33) . am i right?

[2022-10-17 07:04] wanowners opened #428 "Matic"